
 <div> 
 <h3 class="title-label"><%= film.title %></h3>
 <h5 class="genre-label">Genre: <%= film.genre %></h5>
 <h5 class="year-label">Year: <%= film.year %></h5>
 <h5 class="review-label">Review: <%= film.review %></h5>
 </div>